body {
  background-color: #ffc107;
}

.invalid {
  background-color: red;
  color: white;
  padding: 5px 15px;
  border-radius: 7px;
}

.label {
  width: 150px;
}

.container {
  margin-top: 70px;
}
form > div {
  margin: 0 auto;
}
